<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>Our Bakery</h5>
                <p>
                    <i class="fas fa-map-marker-alt me-2"></i> 1 Branch: <br>
                    534, Briji Dham Residency, Mahaveer Nagar 1st, Near Government School <br>Kota-324005<br><br>
                    <i class="fas fa-map-marker-alt me-2"></i> 2nd Branch: <br>
                    Shop No 4, Bhagerwal Building, Near HDFC Bank, In Front City Mall <br>Kota-324005<br><br>

                    <i class="fas fa-phone me-2"></i> +91 8239117196 , +91 8209117196<br>
                    <i class="fas fa-envelope me-2"></i> cakefactorykota@gmail.com
                </p>
            </div>

            <div class="col-md-4 mb-4 text-md-center">
                <h5>Opening Hours</h5>
                <ul class="list-unstyled">
                    <li>Mon - Sat: <br>9:00 AM - 9:00 PM</li>
                    <li>Sun: <br>10:00 AM - 6:00 PM</li>
                    <li class="mt-2 fw-bold text-white">Freshly Baked Every Day!</li>
                </ul>
            </div>

            <div class="col-md-4 mb-4 text-md-end">
                <h5>Follow Us</h5>
                <p>Stay updated with our latest treats.</p>
                <div class="social-icons d-flex justify-content-md-end justify-content-start">
                    <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" title="Twitter (X)"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" title="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>

        <hr style="border-color: rgba(255,255,255,0.2);">
        <div class="text-center pb-2">
            <p class="mb-0">&copy; 2026 CAKE FACTORY KOTA. Delighting you sweetly.</p>
        </div>
    </div>
</footer>
